ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=changeme
ELASTICSEARCH_USE_AUTH=true
KIBANA_SYSTEM_PASSWORD=changeme
PRODUCT_INDEX=products-v1
ELASTIC_VERSION=9.3.0
KAFKA_BOOTSTRAP_SERVERS=localhost:19092
KAFKA_INDEXER_GROUP_ID=product-catalog-indexer
KAFKA_INDEXER_AUTO_OFFSET_RESET=earliest
KAFKA_INDEXER_MAX_RETRIES=3
KAFKA_INDEXER_INITIAL_BACKOFF_SECONDS=0.25
KAFKA_INDEXER_JITTER_SECONDS=0.1
REDPANDA_VERSION=v24.3.6
REDPANDA_CONSOLE_VERSION=v2.8.5
